
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: block;
  width: 100px;
  height: 100px;
}

main {
  width: 100%;
  height: 100%;
}
:host([disabled]) main {
  pointer-events: none;
  opacity: 0.5;
}

#outline {
  fill: #666666;
}

.button .outer-rect {
  fill: transparent;
}
.button .inner-rect {
  fill: #b8b8b8;
  transform: scale(0.4);
  transform-origin: 50% 50%;
  transition: transform 60ms ease-in-out;
}
.button:hover .inner-rect {
  fill: #ffffff;
}
.button[pressed] .inner-rect {
  transform: scale(0.6);
  fill: #ffffff;
}
