
/*
 * @copyright
 *   © 2012-2015 Jarosław Foksa
 */

:host {
  width: 100px;
  height: 40px;
  display: block;
}
:host([disabled]) {
  opacity: 0.5;
  pointer-events: none;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#icon {
  width: 24px;
  height: 24px;
  fill: #f0f0dc;
  stroke: #f0f0dc;
}
:host(:active) #icon {
  fill: #69CAFF;
  stroke: #69CAFF;
}
:host([pressed]) #icon {
  fill: #93d9ff;
  stroke: #93d9ff;
}
:host([mixed]) #icon {
  opacity: 0.65;
}

label {
  display: none;
}
