
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: block;
  height: 25px;
  contain: style paint layout;
}

main {
  height: 100%;
  overflow: hidden;
}

bx-breadcrumbitem:not(:first-child) {
  margin-left: -1px;
}
