
/*
 * @copyright
 *   © 2012-2015 Jarosław Foksa
 */

:host {
  display: block;
}

/* Opacity section */

#opacity-slider {
  width: 100%;
}

/* Blend mode section */

#blend-mode-select {
  width: 100%;
}

#isolate-checkbox {
  margin-bottom: 0px;
}
