
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: none;
  contain: size layout style paint;
}
:host([enabled]) {
  display: initial;
}

.grippie {
  fill: #73BA09;
  stroke: white;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
  filter: url(#grippie-drop-shadow);
}
