
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  contain: size layout style;
}

main {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  will-change: scroll-position;
  touch-action: none;
  border-left: 2px solid transparent;
}
:host(:focus) main {
  border-left-color: #1668F7;
}

#tree {
  padding: 1px 0;
  font-size: 12px;
  line-height: 16px;
  font-family: "Roboto Mono", monospace;
}

/*****************************************************************************************************************/

/**
 * Any item
 */

.item {
  position: relative;
  margin-left: 22px;
  z-index: 2;
}
.item[hidden] {
  display: none;
}
.item[data-dragover] {
  z-index: 3;
}

/* Editable spans */

span[contenteditable] {
  background: white;
  color: #212121;
  outline: 3px solid #5e99ff;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 4px;
  text-overflow: clip;
  min-width: 0.5ex;
  -webkit-user-select: text;
  -webkit-user-modify: read-write-plaintext-only;
}
span[contenteditable]::selection {
  background: rgba(0, 157, 255, 0.3);
}
span[contenteditable][data-invalid] {
  outline-color: #ed5c49;
  background: #ffd9d9;
}
span[contenteditable][data-invalid]::selection {
  background: #ff9d9d;
}

/*****************************************************************************************************************/

/**
 * Text item
 */

/* Highlight */

.item[data-type="text"] {
  color: rgba(255, 255, 255, 0.7);
  word-break: break-all;
}

.item[data-type="text"][data-highlighted] > .content::before {
  content: "";
  background: #1668F7;
  outline: 1px solid #1668F7;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -600px;
  width: calc(100% + 600px);
  height: 100%;
  z-index: -1;
}

/* Dragover placeholder */

.item[data-type="text"][data-dragover="beforebegin"]::before,
.item[data-type="text"][data-dragover="afterend"]::after {
  display: block;
  content: "";
  width: 100%;
  outline: 1px solid #6A9CE8;
  pointer-events: none;
}

/*****************************************************************************************************************/

/**
 * Element item
 */

/* Arrow icon */

.item[data-type="element"] > .icon {
  fill: white;
  vertical-align: middle;
  padding: 3px;
  position: absolute;
  top: 2px;
  left: -19px;
  transform: rotate(0deg);
  z-index: 2;
}
.item[data-type="element"][data-expanded] > .icon {
  transform: rotate(90deg);
}

.item[data-type="element"] > .icon > path {
  pointer-events: none;
}

/* Tag */

.item[data-type="element"] > .tag {
  position: relative;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.item[data-type="element"] > .tag .attributes {
  line-height: 1;
  word-break: break-all;
  word-wrap: break-word;
}

.item[data-type="element"] > .tag .attribute {
  transition: background 0.25s;
  margin-left: 6px;
}
.item[data-type="element"] > .tag .attribute[highlighted] {
  background: rgba(0, 0, 0, 0.5);
}

.item[data-type="element"] > .tag .attribute .name {
  color: yellow;
}

.item[data-type="element"] > .tag .attribute .value {
  opacity: 0.7;
}

.item[data-type="element"] > .tag .attribute .ellipsis {
  color: #A0BDF1;
  text-decoration: underline;
  padding-left: 4px;
  cursor: pointer;
}

/* Highlight */

.item[data-type="element"][data-highlighted] > .tag::before {
  content: "";
  background: #1668F7;
  outline: 1px solid #1668F7;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -600px;
  width: calc(100% + 600px);
  height: 100%;
  z-index: -1;
}

/* Dragover placeholder */

.item[data-type="element"][data-dragover="afterbegin"] > .subtree::before,
.item[data-type="element"][data-dragover="beforeend"] > .subtree::after {
  display: block;
  content: "";
  width: 100%;
  outline: 1px solid #6A9CE8;
  pointer-events: none;
  margin-left: 22px;
}
.item[data-type="element"][data-dragover="beforebegin"]::before,
.item[data-type="element"][data-dragover="afterend"]::after {
  display: block;
  content: "";
  width: 100%;
  outline: 1px solid #6A9CE8;
  pointer-events: none;
}
