
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: block;
  width: 100%;
  height: 100%;
}
:host(:focus) {
  outline: none;
}

/**
 * Containers
 */

main {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  position: relative;
  will-change: scroll-position;
  touch-action: none;
  border-left: 2px solid transparent;
}
:host(:focus) main {
  border-left: 2px solid #1668F7;
}

#tree {
  font-size: 12px;
  line-height: 16px;
  font-family: Menlo, monospace;
}

.item {
  position: relative;
  margin-left: 22px;
  z-index: 2;
  -webkit-user-drag: element;
  -webkit-user-select: none;
}
.item[data-type="text"] {
  color: rgba(255, 255, 255, 0.7)
}
.item[data-type="text"][hidden] {
  display: none;
}

.item[data-highlighted]:not([data-expanded])::before,
.item[data-highlighted][data-expanded] > .tag::before {
  content: "";
  background: #1668F7;
  outline: 1px solid #1668F7;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -600px;
  width: calc(100% + 600px);
  height: 100%;
  z-index: -1;
}

/**
 * Icon
 */

.item > .icon {
  fill: white;
  vertical-align: middle;
  padding: 3px;
  position: absolute;
  top: 0px;
  left: -19px;
  transform: rotate(0deg);
  z-index: 2;
}
.item[data-expanded] > .icon {
  transform: rotate(90deg);
}

.item > .icon > path {
  pointer-events: none;
}

/**
 * Tag
 */

.tag {
  position: relative;
}
.item[data-expanded] > .tag {
  display: block;
}

.tag > span {
  position: relative;
  z-index: 2;
}

.tag .attribute {
  display: inline;
  transition: background 0.25s;
}
.tag .attribute[highlighted] {
  background: rgba(0, 0, 0, 0.5);
}
.tag .attribute::before {
  content: " ";
}

.tag .attribute > .name {
  color: yellow;
}

.tag .attribute > .value {
  opacity: 0.7;
  word-break: break-all;
  word-wrap: break-word;
}

.tag .attribute > .ellipsis {
  color: #A0BDF1;
  text-decoration: underline;
  padding-left: 4px;
  cursor: pointer;
}
