
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: flex;
  flex-direction: column;
  height: calc(100% - 38px);
  overflow: hidden;
}

main {
  margin: 14px;
  height: 100%;
}

#buttons {
  display: flex;
  height: 35px;
  margin-bottom: 6px;
}

#buttons .button {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#lists {
  height: calc(100% - 60px);
}

#lists .list {
  height: 100%;
}
