
/*
 * @copyright
 *   © 2012-2015 Jarosław Foksa
 */

bx-editor {
  display: block;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}

#tools-dock,
#panels-dock {
  position: absolute;
  top: 0px;
  height: calc(100% - 10px);
  margin: 5px;
}
#tools-dock {
  left: 0px;
}
#panels-dock {
  right: 0px;
}

#panels {
  position: absolute;
  top: 0px;
  right: 0px;
}
