
/*
 * @copyright
 *   © 2012-2015 Jarosław Foksa
 */

:host {
  width: 100%;
  height: 40px;
  display: block;
  outline: none;
}
:host([hidden]) {
  display: none;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 14px;
  font-family: "Roboto";
  box-sizing: border-box;
}
:host([highlighted]) main {
  background: rgb(93, 93, 93);
}
:host([highlighted]:focus) main {
  background: #006be5;
}

#label {
  margin: 0px 9px;
  font-size: 15px;
  font-family: Roboto;
  opacity: 0.8;
  white-space: pre;
  overflow: hidden;
}
:host([highlighted]:focus) #label {
  opacity: 1;
}

#thumbnail {
  height: 40px;
  margin-left: 4px;
  opacity: 0.8;
  background: transparent;;
  -webkit-user-drag: none;
}
:host(:hover) #thumbnail {
  opacity: 1;
}
:host([highlighted]:focus) #thumbnail {
  opacity: 1;
}
