
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: none;
  contain: size layout style;
}
:host([enabled]) {
  display: block;
  width: 100%;
  height: 100%;
}
:host(:focus) {
  outline: none;
}

h2 {
  width: 100%;
  margin: 0px 0px 0px 8px;
  padding: 0px;
  color: rgb(240, 240, 240);
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  font-feature-settings: var(--heading-font-features);
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}

#items {
  height: 100%;
  display: flex;
  flex-flow: column;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative; /* needed for item.offsetTop */
}

#items #primary-items {
  background: #313131;
}

#items #primary-items *:last-child {
  box-shadow: 0 1px 0 #000000, 0 2px 0 #636262;
  margin-bottom: 3px;
}

#placeholder {
  margin-top: 4px;
  font-size: 12px;
  opacity: 0.6;
  padding: 10px 0 0 8px;
}

#filter-input {
  margin: 5px 0 0 0;
  width: 100%;
}
