
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  position: fixed;
  z-index: 999;
  display: none;
}
:host:unresolved {
  visibility: hidden;
}
:host([opened]) {
  display: block;
}
:host([hidden]) {
  display: none;
}

::content > bx-menuitem {
  height: 32px;
  min-height: 32px;
  box-sizing: border-box;
}

::content > hr {
  background: white;
  height: 1px;
  opacity: 0.3;
  margin: 2px 0px;
  box-sizing: border-box;
}

::content > hr + hr,
::content > hr:last-child {
  display: none;
}

main {
  width: calc(100% + 7px); /* 7px is the scrollbar width */
  height: 100%;
  background: #3b3b3b;
  border: 1px solid #333333;
  box-sizing: border-box;
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.3);
  color: #fff;
  overflow: auto;
  display: flex;
  flex-direction: column;
  z-index: 999;
}
