
/*
 * @copyright
 *   © 2012-2015 Jarosław Foksa
 */

:host {
  display: block;
}

.hbox {
  display: flex;
  align-items: center;
}

/* "Clipping mask" section */

#clip-buttons bx-button,
#mask-buttons bx-button {
  width: 100%;
}

/* "Opacity mask" section */

#clip-buttons bx-button:first-child,
#mask-buttons bx-button:first-child{
  margin-right: 6px;
}
