
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: block;
  height: 32px;
  contain: layout style;
}
:host([hidden]) {
  display: none;
}

main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 4px;
}
:host([disabled]) main {
  opacity: 0.6;
}
:host([highlighted]) main {
  background: var(--primary-color);
  color: #fff;
}

#state-icons {
  width: 12px;
  height: 12px;
  align-self: center;
  margin-left: 5px;
  pointer-events: none;
}

#state-icons .icon {
  width: 100%;
  height: 100%;
  fill: white;
  stroke: white;
}
#state-icons .icon[hidden] {
  display: none;
}

#selected-state-icon {
  transform: scale(0.65);
}

#label {
  box-sizing: border-box;
  overflow: hidden;
  align-self: center;
  flex: 1;
  margin: 0 0 0 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  font-family: "Roboto";
  font-feature-settings: var(--heading-font-features);
}

#shortcut {
  box-sizing: border-box;
  margin: 0 5px;
  min-width: 25px;
  text-align: right;
  align-self: center;
  display: none;
}
#shortcut:empty {
  margin-right: 0px;
}
:host(:empty) #shortcut {
  display: block;
}

#arrow-icon {
  display: block;
  width: 8px;
  height: 8px;
  align-self: center;
  margin-left: 5px;
  margin-right: 5px;
  fill: white;
  stroke: white;
}
:host(:empty) #arrow-icon {
  display: none;
}
