
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: block;
}

.hbox {
  display: flex;
  align-items: center;
}

#convert-to-path-button {
  width: 100%;
}

#reverse-path-button {
  margin-top: 5px;
  width: 100%;
}

#boolean-operations-section .hbox {
  margin-bottom: 5px;
}
#boolean-operations-section .hbox bx-button:first-child {
  margin-right: 5px;
}

#outline-section .hbox {
  margin-bottom: 5px;
}
#outline-section .hbox bx-button:first-child {
  margin-right: 5px;
}