
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  outline: none;
}

.outline {
  fill: rgba(0, 0, 0, 0.07);
  stroke: rgb(46, 102, 249);
  stroke-width: 1.5;
  vector-effect: non-scaling-stroke;
}

.grippie {
  fill: #E40DD6;
  stroke: white;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
  filter: url(#grippie-drop-shadow);
}
