
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: block;
}

main {
  width: 100%;
}

h2 {
  width: 100%;
  margin: 0;
  padding: 0px;
  color: rgb(240, 240, 240);
  line-height: 1;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 500;
  font-feature-settings: var(--heading-font-features);
}
h2[disabled] {
  opacity: 0.5;
}

h3 {
  width: 100%;
  margin: 0px 0px 8px 0px;
  padding: 0px;
  color: rgb(240, 240, 240);
  line-height: 1;
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 500;
  font-feature-settings: var(--heading-font-features);
  opacity: 0.8;
}
h3[disabled] {
  opacity: 0.5;
}

/**
 * Header
 */

#section-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 10px;
}

/**
 * Paint type subsection
 */

#paint-type-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

#paint-type-buttons bx-button {
  width: 30px;
  height: 30px;
  margin: 5px;
}
#paint-type-buttons bx-button[hidden] {
  display: none;
}

/**
 * Spread method subsection
 */

#spread-method-subsection {
  margin-top: 12px;
}

#spread-method-subsection #spread-method-buttons {
  display: flex;
  margin: 2px 0px 10px 0px;
}

#spread-method-subsection #spread-method-buttons bx-button {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/**
 * Color subsection
 */

#color-subsection {
  margin-top: 12px;
}

#color-subsection #color-picker {
  height: 250px;
}

#color-subsection #color-picker-hint {
  font-size: 12px;
  margin: 0;
  line-height: 1;
  opacity: 0.6;
}
#color-subsection #color-picker-hint:empty {
  display: none;
}

#color-subsection #color-picker-hint span {
  text-decoration: underline;
}
#color-subsection #color-picker-hint span:hover {
  cursor: pointer;
}

/**
 * Pattern subsection
 */

#pattern-subsection {
  margin-top: 12px;
}

#pattern-subsection .hbox {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
}

#pattern-subsection #pattern-select {
  width: 100%;
  height: 45px;
  margin: 0;
  flex: 1;
}

#pattern-subsection #edit-pattern-button {
  width: 28px;
  margin: 0 0 0 8px;
}

#pattern-subsection #pattern-select-hint {
  font-size: 12px;
  margin: 9px 0 0 0;
  line-height: 1;
  opacity: 0.6;
}

#pattern-subsection #pattern-select-hint span {
  text-decoration: underline;
}
#pattern-subsection #pattern-select-hint span:hover {
  cursor: pointer;
}
