
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  width: 100%;
  display: block;
  contain: size layout style;
}
:host([hidden]) {
  display: none;
}

main {
  height: 100%;
  display: flex;
  flex-flow: column;
  position: relative;
}

/*
 * Header
 */

header {
  display: flex;
  min-height: 29px;
  align-items: center;
  font-family: "Roboto";
  font-feature-settings: var(--heading-font-features);
  box-shadow: 0 1px 0 #000000, 0 2px 0 #636262, 0 -1px 0 #636262, 0 -2px 0 #000000;
  margin-bottom: 3px;
}

header h2 {
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(240, 240, 240);
  line-height: 1;
  font-size: 14px;
  font-weight: 500;
}

header #delete-pattern-button {
  width: 20px;
  height: 20px;
}

header #create-pattern-button {
  width: 20px;
  height: 20px;
  margin-left: 6px;
}

/*
 * Items
 */

#items {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 8px);
  padding: 4px 0 0 0;
}
#items:empty {
  display: none;
}

#items bx-patternslistitem:unresolved {
  width: 100%;
  height: 42px;
  display: block;
  visibility: hidden;
}
#items bx-patternslistitem[hidden] {
  display: none;
}

/*
 * ...
 */

#placeholder {
  position: absolute;
  top: 45px;
  font-size: 12px;
  opacity: 0.6;
}

#drag-separator {
  position: fixed;
  height: 2px;
  background: #6A9CE8;
  pointer-events: none;
}

#filter-input {
  width: 100%;
  margin: 10px 0 0 0;
  height: 32px;
}
#items:empty ~ #filter-input {
  display: none;
}
