
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: none;
  contain: size layout style paint;
}
:host([enabled]) {
  display: initial;
}

rect {
  fill: rgba(149, 198, 253, 0.3);
  stroke: rgba(55, 136, 236, 0.77);
  stroke-width: 1;
  visibility: hidden;
  pointer-events: none;
  shape-rendering: crispEdges;
  vector-effect: non-scaling-stroke;
}
