
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  width: 40px;
  height: 16px;
  display: block;
}
:host([disabled]) {
  opacity: 0.5;
  pointer-events: none;
}
:host([mixed])  {
  opacity: 0.8;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: ease 0.1s all;
}
:host(:not([toggled])) main {
  -webkit-filter: saturate(0%);
}

#track {
  width: 100%;
  height: 33%;
  background: #A4BC3F;
  border-radius: 99px;
}

#thumb {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  transition: ease 0.3s all;
}
:host([toggled]) #thumb {
  left: auto;
  right: 0px;
}

#thumb ellipse {
  fill: #C7E15A;
  stroke: #C7E15A;
  stroke-width: 2;
}
