
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  width: 100%;
  height: 100%;
  display: block;
  outline: none;
  contain: size layout style;
}

main {
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #818181;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 700;
  height: 30px;
}
header div:first-child {
  flex: 1;
  margin-left: 10px;
}
header div:last-child {
  text-align: right;
  margin-right: 70px;
}

#rows {
  padding: 4px 0 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100% - 30px);
}
