
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: block;
  height: 32px;
}

main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 4px;
}
:host([disabled]) main {
  opacity: 0.6;
}
:host([highlighted]) main {
  background: #1668f7;
  color: #fff;
}

#icon {
  width: 12px;
  height: 12px;
  margin: 0 5px 0 8px;
  align-self: center;
  pointer-events: none;
  fill: white;
}

#thumbnail {
  width: 30px;
  height: 30px;
  background: white;
  margin: 0 8px 0 0;
  display: none;
}
#thumbnail[src] {
  display: block;
}

#label {
  box-sizing: border-box;
  overflow: hidden;
  align-self: center;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
  font-family: "Roboto";
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}
