
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: block;
  height: calc(100% - 53px);
}

.hbox {
  display: flex;
  align-items: center;
}

/******************************************************************************************************************
 Master view
 *****************************************************************************************************************/

#master-view[hidden] {
  display: none;
}

/*
 * Font section
 */

/* Family */

#font-section #font-family-div {
  margin-bottom: 12px;
}

#font-section #font-family-select {
  width: 100%;
  margin-bottom: 0;
}

/* Variant */

#font-section #font-variant-div {
  margin-bottom: 12px;
}

#font-section #font-weight-select {
  flex: 1;
  margin: 0;
  width: 100%;
}

#font-section #italic-font-style-button {
  width: 30px;
  height: 30px;
  margin: 0 7px;
}

#font-section #small-caps-font-variant-button {
  width: 30px;
  height: 30px;
}

/* Size */

#font-section #font-size-slider {
  width: 100%;
}

/*
 * Transform section
 */

#transform-section #transform-buttons {
  display: flex;
  align-items: center;
  flex: 1;
}

#transform-section #transform-buttons bx-button {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

#transform-section #text-on-path-button {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

/*
 * Decoration section
 */

#decoration-section #decoration-buttons {
  display: flex;
  align-items: center;
}

#decoration-section #decoration-buttons bx-button {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

/*
 * Spacing section
 */

#spacing-section #letter-spacing-div {
  margin-bottom: 14px;
}

#spacing-section #letter-spacing-slider,
#spacing-section #word-spacing-slider {
  width: 100%;
}

/******************************************************************************************************************
 Font family view
 *****************************************************************************************************************/

#font-family-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}
#font-family-view[hidden] {
  display: none;
}

/**
 * Navbar
 */

#navbar {
  display: flex;
  flex-flow: row;
  align-items: center;
  background: #353535;
  padding: 5px 13px;
  border-bottom: 1px solid #1B1B1B;
}

#navbar #back-button {
  width: 30px;
  height: 30px;
}

#navbar h1 {
  margin: 0 0 0 8px;
  color: rgb(240, 240, 240);
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}

/**
 * Font family picker
 */

#font-family-picker-section {
  height: calc(100% - 41px);
  padding-top: 5px;
}
