
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: none;
}
:host([enabled]) {
  display: initial;
}

#outline {
  fill: none;
  opacity: 1;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 1;
  pointer-events: none;
  vector-effect: non-scaling-stroke;
  shape-rendering: crispEdges;
}
