
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

#inner-area {
  fill: rgba(0, 0, 0, 0);
  opacity: 1;
  shape-rendering: crispEdges;
  stroke: rgb(106, 106, 106);
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}
#inner-area:hover {
  cursor: -webkit-grab;
}
#inner-area:active {
  cursor: -webkit-grabbing;
}

#outer-area {
  fill: black;
  stroke: none;
  opacity: 0.4;
}

.resize-grippie[data-position="left"],
.resize-grippie[data-position="right"],
.resize-grippie[data-position="top"],
.resize-grippie[data-position="bottom"] {
  stroke: red;
  vector-effect: non-scaling-stroke;
  stroke-width: 6;
  opacity: 0;
}
.resize-grippie[data-position="top-left"] path,
.resize-grippie[data-position="top-right"] path,
.resize-grippie[data-position="bottom-left"] path,
.resize-grippie[data-position="bottom-right"] path {
  fill: white;
  stroke: rgb(88, 88, 88);
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}
.resize-grippie[data-position="top-left"] rect,
.resize-grippie[data-position="top-right"] rect,
.resize-grippie[data-position="bottom-left"] rect,
.resize-grippie[data-position="bottom-right"] rect {
  opacity: 0;
}
.resize-grippie[data-position="left"]:hover,
.resize-grippie[data-position="right"]:hover {
  cursor: ew-resize;
}
.resize-grippie[data-position="top"]:hover,
.resize-grippie[data-position="bottom"]:hover {
  cursor: ns-resize;
}
.resize-grippie[data-position="top-left"]:hover {
  cursor: nwse-resize;
}
.resize-grippie[data-position="top-right"]:hover {
  cursor: nesw-resize;
}
.resize-grippie[data-position="bottom-left"]:hover {
  cursor: nesw-resize;
}
.resize-grippie[data-position="bottom-right"]:hover {
  cursor: nwse-resize;
}
