
/*
 * @copyright
 *   © 2012-2015 Jarosław Foksa
 */

:host {
  display: block;
}

/**
 * Viewport section
 */

#viewport-section[disabled] {
  display: none;
}

#viewport-section h3 {
  margin: 0;
}

#viewport-section .row-div {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
}

#viewport-section #viewport-width-div {
  margin-bottom: 14px;
}

#viewport-section #viewport-width-div > .row-div:first-child,
#viewport-section #viewport-height-div > .row-div:first-child {
  margin-bottom: 5px;
}

#viewport-section bx-switch {
  height: 13px;
}

#viewport-section bx-slider {
  margin: 0;
  width: 100%;
}

#viewport-section bx-select {
  flex: 0 0 auto;
  width: 61px;
  margin: 0 0 0 -1px;
}

/**
 * View box section
 */

#view-box-section .row-div {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
}
#view-box-section .row-div:first-child {
  margin-bottom: 8px;
}

#view-box-section h2 {
  margin: 0;
}

#view-box-section bx-slider {
  width: 100%;
}

#view-box-section h3 {
  margin-bottom: 3px;
  color: #D9D9D9;
  text-align: center;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}
#view-box-section h3#view-box-width-heading,
#view-box-section h3#view-box-height-heading {
  font-size: 16px;
}

/**
 * Aspect ratio section
 */

#aspect-ratio-section .row-div {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
}
#aspect-ratio-section .row-div:first-child {
  margin-bottom: 8px;
}

#aspect-ratio-section h2 {
  margin: 0;
}

#aspect-ratio-section h3 {
  margin-bottom: 4px;
}

#aspect-ratio-section #slice-checkbox {
  margin-left: 15px;
}
