
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

section {
  padding: 18px 14px 17px 14px;
  box-shadow: 1px 0px 0 #000000, 2px 0px 0 #636262, 0 1px 0 #000000, 0 2px 0 #636262;
}

section h2 {
  width: 100%;
  margin: 0px 0px 9px 0px;
  padding: 0px;
  color: rgb(240, 240, 240);
  line-height: 1;
  font-size: 15px;
  font-family: "Roboto";
  font-weight: 500;
  font-feature-settings: var(--heading-font-features);
}
section h2[disabled] {
  opacity: 0.5;
}

section h3 {
  width: 100%;
  margin: 0px 0px 6px 0px;
  padding: 0px;
  color: rgb(240, 240, 240);
  line-height: 1;
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 500;
  font-feature-settings: var(--heading-font-features);
  opacity: 0.8;
}
section h3[disabled] {
  opacity: 0.5;
}