
/*
 * @copyright
 *   © 2012-2015 Jarosław Foksa
 */

section {
  padding: 18px 14px 17px 14px;
  box-shadow: 0 1px 0 #000000, 0 2px 0 #636262;
}
section:first-child {
  border-top: none;
}
section:last-child {
  border-bottom: none;
  box-shadow: none;
}

section h2 {
  width: 100%;
  margin: 0px 0px 9px 0px;
  padding: 0px;
  color: rgb(240, 240, 240);
  line-height: 1;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}
section h2[disabled] {
  opacity: 0.5;
}

section h3 {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  color: rgb(207, 207, 207);
  line-height: 1;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 400;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}
section h3[disabled] {
  opacity: 0.5;
}