
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:root {
  --heading-font-features: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  --primary-color: #1668f7; /* blue */
  --secondary-color: green; /* light blue */
  --accent-color:  red;
  --primary-background-color: #404040; /* gray */
  --secondary-background-color: #2D2D2D; /* black */
  --border-color: #141619; /* black */
}
