
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  width: auto;
  height: 36px;
  display: block;
}

main {
  padding: 0 25px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2D2D2D;
  background: rgb(72, 72, 72);
  box-shadow: 0px 1px 0px rgba(235, 235, 235, 0.2) inset;
}
:host([default]) main,
:host([pressed]) main {
  background: #1668f7;
}
:host(:active) main {
  -webkit-filter: brightness(115%);
}

#icon {
  display: none;
}

label {
  overflow: hidden;
  color: #ffffff;
  opacity: 1;
  font-family: "Roboto";
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}
:host([default]) label,
:host([pressed]) label {
  opacity: 1;
}
