
/*
 * @copyright
 *   © 2012-2015 Jarosław Foksa
 */

:host {
  width: 200px;
  height: 200px;
  display: block;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

bx-tabs {
  width: 100%;
  height: 30px;
}

bx-webviews {
  width: 100%;
  height: calc(100% - 30px);
}

dialog::backdrop {
  background: rgba(0,0,0,0.5);
  margin-top: 60px;
}
