
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  border: 1px solid #333333;
  background: #3b3b3b;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  contain: layout style paint;
}
:host(:focus) {
  outline: none;
}
:host::backdrop {
  background: rgba(53, 53, 53, 0.34902);
}

#inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 14px;
}

#icon {
  width: 50px;
  height: 50px;
  fill: white;
  stroke: white;
  margin: 0 17px 0 8px;
}

#headers {
  flex: 1;
  color: white;
}

#headers #message {
  margin: 0 0 8px 0;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
}

#headers #detail {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}
#headers #detail:empty {
  display: none;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px;
}

#buttons bx-button {
  width: auto;
  height: 38px;
  margin-right: 12px;
}
div#buttons bx-button:last-child {
  margin-right: 0;
}
div#buttons bx-button[label="Don't Save"] {
  margin-right: auto;
}
