
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #333;
  margin: 0;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}
:host(:focus) {
  outline: none;
}
:host([bordered]) {
  border: 1px solid #6F6F6F;
  border-top: none;
}

#menubar {
  width: 100%;
  height: 30px;
}

#tabs {
  width: 100%;
  height: 30px;
}

#editors {
  width: 100%;
  height: calc(100% - 30px - 30px);
  position: relative;
  background: #404040;
}

#editors bx-editor[disabled] {
  /* @bug: https://groups.google.com/a/chromium.org/forum/#!topic/chromium-apps/gscfpSCKFtQ */
  pointer-events: none !important;
  opacity: 0 !important;
}
