
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  width: 100%;
  height: 30px;
  display: block;
  contain: size layout style paint;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}
:host([disabled]) main {
  opacity: 0.5;
}

#new-tab-button {
  width: 22px;
  height: 22px;
  opacity: 1;
  margin: 4px 6px 0 3px;
  transition: opacity 0.15s ease-in-out;
  order: 9999;
  --icon-size: 15px;
  -webkit-app-region: no-drag;
}

::content bx-tab {
  z-index: 100;
  transition: 0.3s max-width;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  cursor: default;
}
