
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 *
 * @info
 *   Roboto font http://www.google.com/design/spec/style/typography.html
 */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-400.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-500.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-italic-400.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-italic-500.woff") format("woff");
  font-style: italic;
  font-weight: 500;
}
