
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  width: 100px;
  height: 42px;
  display: block;
  contain: size layout style paint;
  --icon-size: 20px;
}
:host([disabled]) {
  pointer-events: none;
}
:host([hidden]) {
  display: none;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px;
  background: var(--primary-background-color);
  border: 1px solid var(--border-color);
  position: relative;
}
:host(:active) main {
  background: #444444;
}
:host([pressed]) main {
  background: var(--primary-color);
  border: 1px solid black;
}
:host([pressed]:active) main {
  background: #2f71ae;
}

#icon {
  width: var(--icon-size);
  min-width: var(--icon-size);
  height: var(--icon-size);
  fill: white;
  stroke: white;
}
:host([disabled]) #icon {
  opacity: 0.5;
}

#arrow-icon {
  width: 8px;
  height: 8px;
  display: none;
  position: absolute;
  fill: white;
}
:host([arrow="se"]) #arrow-icon {
  display: block;
  bottom: 2px;
  right: 2px;
}
:host([arrow="sw"]) #arrow-icon {
  display: block;
  bottom: 2px;
  left: 2px;
}

label {
  display: none;
}
