
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  width: 20px;
  height: 20px;
  display: block;
  contain: size layout style paint;
}
:host([hidden]) {
  visibility: hidden;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
:host(:hover) main {
  background: rgba(255, 255, 255, 0.2);
}

#icon {
  width: 24px;
  height: 24px;
  fill: #f0f0dc;
  stroke: #f0f0dc;
}
:host([pressed]) #icon {
  fill: var(--primary-color);
  stroke: var(--primary-color);
}
:host(:active) #icon {
  fill: #69CAFF;
  stroke: #69CAFF;
}

label {
  display: none;
}
