
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: block;
  width: 100%;
  height: 100%;
  contain: size layout style;
}
:host([disabled]) {
  visibility: hidden;
}
:host([hidden]) {
  display: none;
}

main {
  width: 100%;
  height: 100%;
}

bx-hueslider {
  width: 100%;
  height: 32px;
  margin-bottom: 7px;
}

bx-satlightslider {
  width: 100%;
  height: calc(100% - 119px);
  margin-bottom: 7px;
}


bx-alphaslider {
  width: 100%;
  height: 32px;
  margin-bottom: 7px;
}

div {
  display: flex;
  align-items: center;
}

bx-input {
  height: 34px;
  margin: 0;
  flex: 1;
}

#grab-color-button {
  width: 25px;
  height: 25px;
  margin-left: 8px;
  --icon-size: 25px;
}
:host([hidegrabber]) #grab-color-button {
  display: none;
}
