
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  contain: size layout style;
}

main {
  margin: 14px;
  height: 100%;
  display: flex;
  flex-flow: column;
}

#buttons {
  display: flex;
  height: 35px;
  margin-bottom: 6px;
}

#buttons .button {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  --icon-size: 30px;
}

#lists {
  height: 0;
  flex: 1;
}

#lists .list {
  height: 100%;
}
