
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: block;
  contain: layout style;
}

#size-div .hbox {
  display: flex;
  align-items: center;
}

bx-slider {
  width: 100%;
}

#format-div {
  margin-bottom: 10px;
}

#area-div {
  margin-bottom: 10px;
}

#size-div {
  margin-bottom: 10px;
}

#compression-div {
  margin-bottom: 10px;
}

#preserve-aspect-ratio-button {
  width: 20px;
  height: 20px;
  padding: 0 4px;
  fill: white;
  margin-bottom: 3px;
  --icon-size: 15px;
}

#format-select {
  width: 100%;
}

#area-select {
  width: 100%;
}

#export-button {
  margin-top: 10px;
  height: 45px;
  width: 100%;
}
