
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  contain: size layout style paint;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}

#breadcrumb {
  position: absolute;
  top: 5px;
  left: 52px;
  max-width: calc(100% - 104px);
}

#primary-dock {
  position: absolute;
  top: 0px;
  left: 0px;
  height: calc(100% - 10px);
  margin: 5px;
}

#secondary-dock {
  position: absolute;
  top: 0px;
  right: 0px;
  height: calc(100% - 10px);
  margin: 5px;
}

#primary-panels {
  position: absolute;
  top: 0px;
  left: 0px;
}

#secondary-panels {
  position: absolute;
  top: 0px;
  right: 0px;
}

#transform-tool-panel {
  height: 200px;
}

#fill-panel {
  height: 620px;
}
#stroke-panel {
  height: 800px;
}
#compositing-panel {
  height: 250px;
}
#view-panel {
  height: 497px;
}
#arrangement-panel {
  height: 415px;
}
#typography-panel {
  height: 643px;
}
#defs-panel {
  height: 400px;
}
#mask-panel {
  height: 219px;
}
#geometry-panel {
  height: 347px;
}
#path-panel {
  height: 382px;
}
#export-panel {
  height: 338px;
}
