
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: block;
  width: 100%;
  height: 172px;
  contain: size layout style;
}
:host([disabled]) {
  opacity: 0.4;
  pointer-events: none;
}
:host(:focus) {
  outline: none;
}

main {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

#filter-input {
  margin: 0 0 8px 0;
  width: 100%;
  height: 28px;
}

#items {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #383737;
  border: 1px solid rgb(31, 31, 31);
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, rgba(41, 41, 41, 0.8) 0 1px 7px 0px inset;
  border-left: 2px solid transparent;
  contain: size layout style paint;
}
:host(:focus) #items {
  border-left-color: #1668F7;
}

#items #primary-items {
  box-shadow: 0 1px 0 #000000, 0 2px 0 #636262;
  margin-bottom: 3px;
  overflow: hidden;
}

#items #secondary-items {
  overflow: hidden;
}

#items .item {
  height: 28px;
  display: block;
  box-sizing: border-box;
  padding: 0 6px;
  opacity: 0.9;
  background: transparent;;
  -webkit-user-drag: none;
}
#items .item[hidden] {
  display: none;
}
#items .item[data-selected] {
  background: var(--primary-color);
  opacity: 1;
}

#items #placeholder {
  margin-top: 4px;
  font-size: 12px;
  opacity: 0.6;
  padding: 3px 0 0 8px;
}
