
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: block;
  contain: layout style;
}

/* Opacity section */

#opacity-slider {
  width: 100%;
}

/* Fill rule section */

#fill-rule-buttons {
  display: flex;
  margin: 2px 0px 5px 0px;
}

#fill-rule-buttons bx-button {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  --icon-size: 28px;
}
