
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  display: block;
  contain: layout style;
}

.hbox {
  display: flex;
  align-items: center;
}

bx-slider {
  width: 100%;
}

section h3 {
  margin: 0 0 6px 0;
}

/**
 * Object section
 */

#object-section > div:not(:first-child) {
  margin-top: 12px;
}

#object-section .hbox > div {
  flex: 1;
}
#object-section .hbox > div:not(:last-child) {
  margin-right: 4px;
}
