
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  width: 100%;
  height: 42px;
  display: block;
  contain: size layout style;
}
:host(:focus) {
  outline: none;
}

main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 14px;
  font-family: "Roboto";
  box-sizing: border-box;
}
:host([highlighted]) main {
  background: rgb(93, 93, 93);
}
:host([highlighted]:focus) main {
  background: var(--primary-color);
}
:host([highlighted][inputmode]) main {
  background: none;
}

#thumbnail {
  width: 34px;
  height: 34px;
  background: white;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-drag: none;
}

bx-input {
  pointer-events: none;
  opacity: 0.8;
  height: 36px;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  font-feature-settings: var(--heading-font-features);
}
:host([highlighted]) bx-input,
:host(:hover) bx-input {
  opacity: 1;
}
