
/*
 * @copyright
 *   © 2012-2016 Jarosław Foksa
 */

:host {
  width: 100%;
  height: 30px;
  display: block;
  contain: size layout style;
}
:host(:focus) {
  outline: none;
}

/* Main */

main {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-size: 14px;
  font-family: "Roboto";
  color: #dedede;
  border: 2px solid transparent;
  box-sizing: border-box;
}
:host(:hover) main {
  background: rgba(86, 86, 86, 1);
}
:host([highlighted]) main {
  background: rgb(82, 82, 82);
}
:host([highlighted]:focus) main {
  background: var(--primary-color);
}
:host([editable]) main {
  background: transparent;
  border-color: #238be7;
}
:host([editable]:focus) main {
  background: transparent;
  border-color: var(--primary-color);
}
:host([conflicting]:focus) main {
  background: rgb(219, 50, 39);
}
:host([conflicting][editable]:focus) main {
  background: transparent;
  border-color: rgb(219, 50, 39);
}

/* Label */

#label {
  flex: 1;
  padding: 8px 10px;
}
:host(:focus) #label {
  color: white;
}

/* Buttons */

#buttons {
  display: flex;
  visibility: hidden;
  width: 54px;
}
:host(:hover) #buttons {
  visibility: visible;
}
:host([editable]) #buttons {
  visibility: hidden;
}

bx-button {
  width: 25px;
  height: 25px;
  --icon-size: 12px;
}
bx-button:first-child {
  margin-right: 4px;
}

/* Shortcut preview */

#shortcut-preview {
  text-align: right;
  padding: 7px;
  opacity: 0.4;
}
#shortcut-preview.user-shortcut {
  opacity: 1;
}
:host([editable]) #shortcut-preview {
  opacity: 1;
  width: 120px;
  text-transform: uppercase;
  font-size: 11px;
}
:host([conflicting]) #shortcut-preview {
  color: rgb(255, 102, 102); /* dark red */
}
:host([conflicting]:focus) #shortcut-preview {
  color: #dedede; /* white */
}
:host([highlighted]:focus) #shortcut-preview {
  color: white;
}
